<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fantasyData" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
  </configSections>

  <fantasyData defaultSubscription="Trial">
    <subscriptions>
      <add name="Trial" baseUrl="http://api.nfldata.apiphany.com/trial/" primarySubscriptionKey="2be754f0c319454cb4832d0f524f596b" secondarySubscriptionKey="d2ac4b33ae794fa5ae758dae48283441" useJson="true" />
      <add name="Developer" baseUrl="http://api.nfldata.apiphany.com/developer/" primarySubscriptionKey="2be754f0c319454cb4832d0f524f596b" secondarySubscriptionKey="d2ac4b33ae794fa5ae758dae48283441" useJson="true" />
      <add name="Weekly" baseUrl="http://api.nfldata.apiphany.com/weekly/" primarySubscriptionKey="2be754f0c319454cb4832d0f524f596b" secondarySubscriptionKey="d2ac4b33ae794fa5ae758dae48283441" useJson="true" />
    </subscriptions>
  </fantasyData>
</configuration>